[Desktop Entry]
Name=Markdown Viewer
Comment=View markdown files with live reload
Exec=mkdv %f
Icon=mkdv
Terminal=false
Type=Application
Categories=Utility;TextEditor;Viewer;
MimeType=text/markdown;text/x-markdown;
StartupNotify=false
StartupWMClass=mkdv
